
body {
	font-size: 18px;
}

a {
	font-size: inherit;
}

.hidden {
	display: none;
}

p.word {
	font-size: 18px;
	font-weight: bold;
}

table.ragozas {
	border: none;
	margin: 10px 0px 10px 0px;
}

table.ragozas th,
table.ragozas td {
	padding: 5px;
	text-align: left;
}

table.ragozas th {
	background-color: #f0f0f0;
	padding-right: 15px;
	font-weight: bold;
}


.links {
	margin: 10px 0px 10px 0px;
	padding: 5px;
	border: 1px solid #e0e0e0;
	font-size: 0.7em;
}


.words-list table {
	
}

.words-list table td {
	padding-right: 20px;
}
.words-list table td.left {
	padding-right: 40px;
}

.words-list table tr.lesson td {
	padding-top: 20px;
}
.words-list table tr.type td {
	padding-top: 20px;
}
